<template>
    <main>
        <Header/>
        <Content/>
    </main>
</template>

<script>
    import Header from "./HeaderComponent";
    import Content from "./ContentComponent";
    export default {
        name: "App",
        components:{
            Header,
            Content
        },
        data() {
            return {}
        }
    }
</script>

<style lang="scss" >
    @import '../styles/main.scss';
</style>