<template>
    <article class="col-main main-view">
        <div>
            <h2>Samochody</h2>
        </div>
    </article>
</template>

<script>
    export default{
        name: "Cars",
        data(){
            return{}
        }
    }
</script>