<template>
    <div class="container">
        <Navigation/>
        <router-view/>
    </div>
</template>

<script>
    import Navigation from "./NavigationComponent";
    export default{
        name: "Content",
        components: {
            Navigation
        },
        data(){
            return {};
        }
    }
</script>

<style></style>