<template>
    <header class="container to-borders">
        <h1 class="logo"><img src="public/img/logo.png"/></h1>
    </header>
</template>
<script>
    export default{
        name: "Header",
        data(){
            return{};
        }
    }
</script>

<style lang="scss" scoped>
    @import "../styles/variables.scss";
    header{
        background: $header-background;
        padding: 15px;

        .logo{
            max-width: 150px;
            img{
                max-width: 100%;
            }
        }
    }
</style>