<template>
        <article class="col-main main-view">
            <div>
                <h2>Strona startowa</h2>
            </div>
        </article>
</template>

<script>
    import Navigation from "./NavigationComponent";
    export default{
        name:"Start",
        data(){
            return{}
        }
    }
</script>

<style></style>